<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<!-- 게시판 글 작성 -->
	<insert id="insert">
		INSERT INTO MP_BOARD (
			title
			, content
			, writer
		) VALUES (
			#{title}
			, #{content}
			, #{writer}
		)
	</insert>
	
	<select id="list" resultType="kr.co.vo.BoardVO">
		SELECT bno
			 , title
			 , writer
			 , regdate
		FROM MP_BOARD
		ORDER BY BNO DESC
	</select>

</mapper>